{% extends isAjax ? "common/ajaxbase.html.twig" : "common/base.html.twig" %}

{% block content %}

    <h1>Marketplace</h1>

    {% include 'widgets/countrySelector.html.twig' %}

    {% for product in products %}
        <button data-action="show-product-catalogue" data-id="{{ product.id }}">
            <img src="/img/products/{{ product.id }}.png"><br>
            {{ product.name }}
        </button>
    {% endfor %}

    <div id="product-catalogue" style="display: none">
        <h2>Select quality</h2>
        <ul>

        </ul>
    </div>

    <template id="tpl-item-quality">
        <li>
            <a href="{{ path_for('marketplace') }}/">
                <img src="">
                <span></span>
            </a>
        </li>
    </template>
{% endblock %}

{% block bottomJS %}
    <script>
        $(function () {
            var productList = {{ products|json_encode()|raw }};

            $('[data-action="show-product-catalogue"]').on("click", function ()
            {
                var id = $(this).data("id"),
                    product = productList[id - 1];

                if (product.type == 1) { // raw material
                    peque.navigation.redirect("/marketplace/" + id + "/1");
                    return true;
                }

                var i = 1,
                    $template,
                    $catalogueContainer = $('#product-catalogue ul');

                $catalogueContainer.html("");

                while (i <= 4)
                {
                    $template = peque.utils.getTemplate("item-quality");

                    $template.find("a").attr("href", $template.find("a").attr("href") + id + "/" + i);
                    $template.find("img").attr("src", "/img/products/"  + id + ".png");
                    $template.find("span").text(product.name + " Q" + i);

                    $catalogueContainer.append($template);
                    i++;
                }
                $('#product-catalogue').show();
            });
        });
    </script>
{% endblock %}