{% block dualColumn %}
    <div id="wrapper">
        <div id="left-column">
            <h2>eRepublik</h2>
            <div id="left-menu">
                <div class="profile-section">
                    <div style="flex: 0 0 20%;">
                        <img class="avatar" src="https://thumbs.dreamstime.com/z/persona-casual-del-retrato-masculino-del-avatar-del-icono-del-perfil-46846328.jpg">
                    </div>
                    <div  style="flex: 0 0 81%;">
                        <a href=""><strong>{{ my.nick }}</strong></a>
                        <br>
                        <br>
                        <button><i class="fa fa-envelope-o"></i></button>
                        <button><i class="fa fa-bell-o"></i></button>
                    </div>
                </div>
                <div>
                    <ul>
                        <li>
                            <img class="icon small" src="/img/flags/{{ my.location.country.id }}.png"> {{my.location.country.name}}, {{ my.location.name}}
                        </li>
                        <li>
                            <img class="icon small" src="/img/icons/gold.png"> Gold: {{ my.money.gold }}
                        </li>
                        <li>
                            <img class="icon small"src="/img/flags/{{ my.location.country.id }}.png"> ESP {{ my.money.esp }}
                        </li>
                        <li>
                            <progress id="max-health" value="70" max="100" style="position: absolute;"></progress>
                            <progress value="40" max="100" style="position: absolute;    background: transparent;"></progress>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div id="main-container">
            {{ block('content') }}
        </div>
    </div>
{% endblock %}