{% extends isAjax ? "common/ajaxbase.html.twig" : "common/base.html.twig" %}

{% block content %}
    <div>
        <center><h1>¡Welcome to this temporal home!</h1></center>
        {% if not hasTrainedToday %}
            <div>
                ¡You haven't trained yet!
                <a class="button" href="{{ path_for('gyms') }}">Train</a>
            </div>
        {% endif %}
        <br>
        {% if job.hasJob %}
            {% if not job.hasWorkedToday %}
                <a class="button" href="#">¡Time to work mate!</a>
            {% endif %}
        {% else %}
            <div>
                You are unemployed
                <a class="button" href="{{ path_for('workOffers') }}">¡Find a job!</a>
            </div>
        {% endif %}

        <div>
            <div>
                <h2>Latest news</h2>
            </div>
            <div>
                {% if latestArticles|length > 0 %}
                    {% for article in latestArticles %}
                        <div>
                            <a href="{{ path_for('showArticle', {id: article.id}) }}">
                                {{ article.title }}
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No news available. <a href="{{ path_for('createNewspaper') }}">¡Create your own newspaper!</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}