{% extends isAjax ? "common/ajaxbase.html.twig" : "common/base.html.twig" %}

{% block content %}
    {% if job.hasJob %}
        {% if not job.hasWorkedToday %}
           <button>Work</button>
        {% endif %}
    {% else %}
        You are unemployed
        <a href="{{ path_for('workOffers') }}">¡Find a job!</a>
    {% endif %}
    <table id="my-companies">
        <tr>
            <th><a href="{{ path_for('createCompany') }}">Create a new company</a></th>
            <th><label><input type="checkbox" data-action="check-all">Work as manager</label></th>
            <th>Employees</th>
            <th><a href="">+</a> Consumes</th>
            <th>Final product</th>
        </tr>
    {% for company in companies %}
        <tr>
            <td><img src="/img/companies/{{ company.type }}.png"> {{ companyTypes[company.type].name }} {{ company.quality }}</td>
            <td><input type="checkbox" data-company="{{ company.id }}"></td>
            <td>{{ companyTypes[company.type].qualities[company.quality].workers }}</td>
            <td class="red">
                {% if companyTypes[company.type].qualities[company.quality].consume_product > 0 %}
                -{{ companyTypes[company.type].qualities[company.quality].consume_amount }} <img src="/img/products/{{ companyTypes[company.type].qualities[company.quality].consume_product }}.png">
                {% endif %}
            </td>
            <td class="green">+{{ companyTypes[company.type].qualities[company.quality].product_amount }} <img src="/img/products/{{ companyTypes[company.type].product }}.png"></td>
        </tr>
    {% endfor %}
    </table>
    <button data-action="work-as-manager">Work</button>
{% endblock %}

{% block bottomJS %}
    <script>
        $(function () {
            peque.company.init();
        });
    </script>
{% endblock %}